.layout {
    display: grid;
    grid-template-rows: 64px calc(100vh - (64px * 2) - 144px) 64px;
    align-items: center;
    margin: 72px;
}

.layout-header,
.layout-footer {
    align-content: center;
    position: relative;
    margin-left: calc(10% + 8px);
}

.layout-header::after {
    width: 49px;
    border-bottom: 2px solid #09f;
    position: absolute;
    bottom: -8px;
    left: 0px;
    content: "";
  }

.layout-content {
    max-height: calc(100vh - (64px * 2) - 144px);
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: scroll;
}

.rep {
    background: #f2f2f2;
    padding: 16px 0;
    margin-bottom: 16px;
    border-radius: 6px;

    display: flex;
    flex-direction: column;
    gap: 4px;
}

.rep div {
    display: flex;
    gap: 8px;
}

.rep div span:first-child {
    width: 10%;
    text-align: right;
    font-family: gothamBook;
}

.rep div span:last-child {
    text-align: left;
    width: 90%;
    font-family: gothamLight
}

a {
    color: #09f;
}
